USE [ArimaERP]
GO
/****** Object:  Table [dbo].[ACCION]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCION](
	[ID_accion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_id_accion] PRIMARY KEY CLUSTERED 
(
	[ID_accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[ID_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[tipo_entidad] [varchar](50) NOT NULL,
	[entidad_modificada] [int] NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[valor_nuevo] [varchar](30) NOT NULL,
	[valor_anterior] [varchar](30) NOT NULL,
	[dni] [int] NOT NULL,
	[ID_accion] [int] NOT NULL,
 CONSTRAINT [PK_ID_AUDITORIA] PRIMARY KEY CLUSTERED 
(
	[ID_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[dni] [int] NOT NULL,
	[telefono] [bigint] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[ciudad] [varchar](20) NOT NULL,
	[provincia] [varchar](20) NOT NULL,
	[calle] [varchar](20) NOT NULL,
	[numero] [int] NOT NULL,
	[cod_postal] [int] NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[estado] [bit] NOT NULL,
	[razon_social] [varchar](20) NULL,
	[condicion_frenteIVA] [varchar](20) NOT NULL,
	[cuil_cuit] [bigint] NOT NULL,
	[apellido] [varchar](30) NOT NULL,
	[confiable] [bit] NOT NULL,
	[id_zona] [int] NOT NULL,
	[id_tamano] [int] NOT NULL,
 CONSTRAINT [PK_PRIMARY] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cuil_cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DNI] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA_CORRIENTE]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA_CORRIENTE](
	[saldo_actual] [decimal](6, 2) NOT NULL,
	[fecha_ultimo_movimiento] [date] NOT NULL,
	[id_cliente] [int] NOT NULL,
 CONSTRAINT [PK_ID_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PEDIDO]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDO](
	[cantidad] [int] NOT NULL,
	[descuento] [decimal](3, 2) NOT NULL,
	[ID_detalle_pedido] [int] NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[ID_presentacion] [int] NOT NULL,
 CONSTRAINT [PK_DETALLE_PEDIDO_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID_detalle_pedido] ASC,
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[nombre] [varchar](20) NOT NULL,
	[apellido] [varchar](20) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NULL,
	[dni] [int] NOT NULL,
	[telefono] [bigint] NOT NULL,
	[nombre_usuario] [varchar](20) NOT NULL,
 CONSTRAINT [pk_nombre_usuario] PRIMARY KEY CLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_dni_empleado] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EMAIL_empleado] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_telefono] UNIQUE NONCLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_PAGO]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_PAGO](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_id_Estado_pago] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_PEDIDO]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_PEDIDO](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_id_estado_pedido] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAMILIA]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILIA](
	[id_familia] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NOT NULL,
 CONSTRAINT [PK_id_familia] PRIMARY KEY CLUSTERED 
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PK_ID_MARCA] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marca_proveedor]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca_proveedor](
	[id_marca] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
 CONSTRAINT [PK_id_marca_proveedor] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC,
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METODO_PAGO]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METODO_PAGO](
	[id_metodo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_id_metodo_pago] PRIMARY KEY CLUSTERED 
(
	[id_metodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[monto] [decimal](8, 2) NOT NULL,
	[fecha] [date] NOT NULL,
	[motivo_rechazo] [varchar](30) NULL,
	[id_estado] [int] NOT NULL,
	[id_metodo] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
 CONSTRAINT [FK_ID_PAGO] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[fecha_entrega] [date] NOT NULL,
	[fuera_de_zona] [bit] NOT NULL,
	[motivo_reasignacion] [int] NULL,
	[id_cliente] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
	[dni] [int] NOT NULL,
	[total] [decimal](8, 2) NOT NULL,
	[SALDO] [decimal](8, 2) NOT NULL,
	[numero_factura] [int] NULL,
 CONSTRAINT [PK_ID_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_pago]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_pago](
	[id_pedido] [int] NOT NULL,
	[id_pago] [int] NOT NULL,
 CONSTRAINT [PK_PEDIDO_PAGO] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC,
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESENTACION]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESENTACION](
	[ID_presentacion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](13) NOT NULL,
 CONSTRAINT [PK_id_presentacion] PRIMARY KEY CLUSTERED 
(
	[ID_presentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[precioLista] [decimal](6, 2) NOT NULL,
	[stockActual] [int] NOT NULL,
	[umbralStock] [int] NOT NULL,
	[unidadesBulto] [int] NOT NULL,
	[activo] [bit] NOT NULL,
	[id_familia] [int] NOT NULL,
	[id_marca] [int] NOT NULL,
	[codigo] [int] NOT NULL,
 CONSTRAINT [PK_ID_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_codigo] UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_presentacion]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_presentacion](
	[id_producto] [int] NOT NULL,
	[ID_presentacion] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC,
	[ID_presentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[telefono] [int] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[provincia] [varchar](30) NOT NULL,
	[ciudad] [varchar](30) NOT NULL,
	[calle] [varchar](25) NOT NULL,
	[numero] [int] NOT NULL,
	[cod_postal] [int] NOT NULL,
 CONSTRAINT [PK_ID_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](25) NOT NULL,
 CONSTRAINT [PK_ID_ROL] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAMAÑO_NEGOCIO]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAMAÑO_NEGOCIO](
	[id_tamano] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NOT NULL,
 CONSTRAINT [PK_id_tamano] PRIMARY KEY CLUSTERED 
(
	[id_tamano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[contraseña] [varchar](400) NOT NULL,
	[estado] [bit] NOT NULL,
	[id_rol] [int] NOT NULL,
	[id_zona] [int] NULL,
	[nombre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_NOMBRE] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZONA]    Script Date: 22/9/2025 18:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONA](
	[id_zona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ID_ZONA] PRIMARY KEY CLUSTERED 
(
	[id_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [FK_ID_ACCION] FOREIGN KEY([ID_accion])
REFERENCES [dbo].[ACCION] ([ID_accion])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [FK_ID_ACCION]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ID_TAMANO] FOREIGN KEY([id_tamano])
REFERENCES [dbo].[TAMAÑO_NEGOCIO] ([id_tamano])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_ID_TAMANO]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ID_ZONA_cliente] FOREIGN KEY([id_zona])
REFERENCES [dbo].[ZONA] ([id_zona])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_ID_ZONA_cliente]
GO
ALTER TABLE [dbo].[CUENTA_CORRIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ID_CLIENTE_cuenta] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[CUENTA_CORRIENTE] CHECK CONSTRAINT [FK_ID_CLIENTE_cuenta]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_producto] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[PEDIDO] ([id_pedido])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_producto]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_PRESENTACION] FOREIGN KEY([id_producto], [ID_presentacion])
REFERENCES [dbo].[producto_presentacion] ([id_producto], [ID_presentacion])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_PRODUCTO_PRESENTACION]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [fk_nombre_usuario] FOREIGN KEY([nombre_usuario])
REFERENCES [dbo].[USUARIOS] ([nombre])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [fk_nombre_usuario]
GO
ALTER TABLE [dbo].[marca_proveedor]  WITH CHECK ADD  CONSTRAINT [FK_id_marca] FOREIGN KEY([id_marca])
REFERENCES [dbo].[MARCA] ([id_marca])
GO
ALTER TABLE [dbo].[marca_proveedor] CHECK CONSTRAINT [FK_id_marca]
GO
ALTER TABLE [dbo].[marca_proveedor]  WITH CHECK ADD  CONSTRAINT [FK_id_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[PROVEEDOR] ([id_proveedor])
GO
ALTER TABLE [dbo].[marca_proveedor] CHECK CONSTRAINT [FK_id_proveedor]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [fk_id_cliente_pago] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [fk_id_cliente_pago]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_ID_ESTADO_pago] FOREIGN KEY([id_estado])
REFERENCES [dbo].[ESTADO_PAGO] ([id_estado])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_ID_ESTADO_pago]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_ID_METODO] FOREIGN KEY([id_metodo])
REFERENCES [dbo].[METODO_PAGO] ([id_metodo])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_ID_METODO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_ID_CLIENTE]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_ESTADO_pedido] FOREIGN KEY([id_estado])
REFERENCES [dbo].[ESTADO_PEDIDO] ([id_estado])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_ID_ESTADO_pedido]
GO
ALTER TABLE [dbo].[pedido_pago]  WITH CHECK ADD  CONSTRAINT [FK_PAGO] FOREIGN KEY([id_pago])
REFERENCES [dbo].[PAGO] ([id_pago])
GO
ALTER TABLE [dbo].[pedido_pago] CHECK CONSTRAINT [FK_PAGO]
GO
ALTER TABLE [dbo].[pedido_pago]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[PEDIDO] ([id_pedido])
GO
ALTER TABLE [dbo].[pedido_pago] CHECK CONSTRAINT [FK_PEDIDO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ID_FAMILIA] FOREIGN KEY([id_familia])
REFERENCES [dbo].[FAMILIA] ([id_familia])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_ID_FAMILIA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ID_marca_producto] FOREIGN KEY([id_marca])
REFERENCES [dbo].[MARCA] ([id_marca])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_ID_marca_producto]
GO
ALTER TABLE [dbo].[producto_presentacion]  WITH CHECK ADD  CONSTRAINT [FK_PRESENTACION] FOREIGN KEY([ID_presentacion])
REFERENCES [dbo].[PRESENTACION] ([ID_presentacion])
GO
ALTER TABLE [dbo].[producto_presentacion] CHECK CONSTRAINT [FK_PRESENTACION]
GO
ALTER TABLE [dbo].[producto_presentacion]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO] FOREIGN KEY([id_producto])
REFERENCES [dbo].[PRODUCTO] ([id_producto])
GO
ALTER TABLE [dbo].[producto_presentacion] CHECK CONSTRAINT [FK_PRODUCTO]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_id_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROL] ([id_rol])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_id_rol]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_id_zona] FOREIGN KEY([id_zona])
REFERENCES [dbo].[ZONA] ([id_zona])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_id_zona]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [CK_FECHA_ENTREGA] CHECK  (([fecha_entrega]>=dateadd(day,(1),CONVERT([date],getdate()))))
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [CK_FECHA_ENTREGA]
GO
