USE [ArimaERP]
GO
/****** Object:  Table [dbo].[ACCION]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCION](
	[ID_accion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_id_accion] PRIMARY KEY CLUSTERED 
(
	[ID_accion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[ID_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[fecha_hora] [datetime] NOT NULL,
	[valor_nuevo] [varchar](30) NOT NULL,
	[valor_anterior] [varchar](30) NOT NULL,
	[ID_accion] [int] NOT NULL,
	[entidad_id] [int] NOT NULL,
	[usuario] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_AUDITORIA] PRIMARY KEY CLUSTERED 
(
	[ID_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[dni] [int] NOT NULL,
	[telefono] [bigint] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[ciudad] [varchar](20) NOT NULL,
	[provincia] [varchar](20) NOT NULL,
	[calle] [varchar](20) NOT NULL,
	[numero] [int] NOT NULL,
	[cod_postal] [int] NOT NULL,
	[fecha_alta] [date] NOT NULL,
	[estado] [bit] NOT NULL,
	[razon_social] [varchar](20) NULL,
	[condicion_frenteIVA] [varchar](20) NOT NULL,
	[cuil_cuit] [bigint] NOT NULL,
	[apellido] [varchar](30) NOT NULL,
	[confiable] [bit] NOT NULL,
	[id_zona] [int] NOT NULL,
	[id_tamano] [int] NOT NULL,
 CONSTRAINT [PK_PRIMARY] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[compra]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compra](
	[compra_id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[monto] [decimal](9, 1) NOT NULL,
	[nro_factura] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
 CONSTRAINT [pk_compra] PRIMARY KEY CLUSTERED 
(
	[compra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA_CORRIENTE]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA_CORRIENTE](
	[saldo_actual] [decimal](6, 2) NOT NULL,
	[fecha_ultimo_movimiento] [date] NOT NULL,
	[id_cliente] [int] NOT NULL,
 CONSTRAINT [PK_ID_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_compra]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_compra](
	[compra_id] [int] NOT NULL,
	[detalle_compra_id] [int] NOT NULL,
	[cantidad_bulto] [int] NOT NULL,
	[precio_unitario] [decimal](9, 1) NOT NULL,
	[id_producto] [int] NOT NULL,
	[ID_presentacion] [int] NOT NULL,
 CONSTRAINT [pk_detalle_compra] PRIMARY KEY CLUSTERED 
(
	[compra_id] ASC,
	[detalle_compra_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_PEDIDO]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDO](
	[cantidad] [int] NULL,
	[descuento] [decimal](3, 2) NOT NULL,
	[ID_detalle_pedido] [int] NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[ID_presentacion] [int] NOT NULL,
	[cantidad_bultos] [int] NULL,
	[precio_unitario] [decimal](8, 1) NOT NULL,
 CONSTRAINT [PK_DETALLE_PEDIDO_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[ID_detalle_pedido] ASC,
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[nombre] [varchar](20) NOT NULL,
	[apellido] [varchar](20) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NULL,
	[dni] [int] NOT NULL,
	[telefono] [bigint] NOT NULL,
	[nombre_usuario] [varchar](20) NOT NULL,
 CONSTRAINT [pk_nombre_usuario] PRIMARY KEY CLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entidad]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entidad](
	[entidad_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [pk_entidad] PRIMARY KEY CLUSTERED 
(
	[entidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_PEDIDO]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_PEDIDO](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_id_estado_pedido] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAMILIA]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILIA](
	[id_familia] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NOT NULL,
 CONSTRAINT [PK_id_familia] PRIMARY KEY CLUSTERED 
(
	[id_familia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
 CONSTRAINT [PK_ID_MARCA] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marca_proveedor]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca_proveedor](
	[id_marca] [int] NOT NULL,
	[id_proveedor] [int] NOT NULL,
 CONSTRAINT [PK_id_marca_proveedor] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC,
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[METODO_PAGO]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[METODO_PAGO](
	[id_metodo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [PK_id_metodo_pago] PRIMARY KEY CLUSTERED 
(
	[id_metodo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[monto] [decimal](8, 2) NOT NULL,
	[fecha] [date] NOT NULL,
	[id_metodo] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
 CONSTRAINT [pK_ID_PAGO] PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[fecha_entrega] [date] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_estado] [int] NOT NULL,
	[total] [decimal](8, 2) NOT NULL,
	[numero_factura] [int] NULL,
	[vendedor] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_pago]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_pago](
	[id_pedido] [int] NOT NULL,
	[id_pago] [int] NOT NULL,
	[saldo] [decimal](8, 1) NOT NULL,
 CONSTRAINT [PK_PEDIDO_PAGO] PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC,
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESENTACION]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESENTACION](
	[ID_presentacion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](13) NOT NULL,
 CONSTRAINT [PK_id_presentacion] PRIMARY KEY CLUSTERED 
(
	[ID_presentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[id_familia] [int] NOT NULL,
	[id_marca] [int] NOT NULL,
 CONSTRAINT [PK_ID_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto_presentacion]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto_presentacion](
	[id_producto] [int] NOT NULL,
	[ID_presentacion] [int] NOT NULL,
	[cod_producto] [int] NOT NULL,
	[precioLista] [decimal](8, 1) NOT NULL,
	[unidades_bulto] [int] NOT NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK_PRODUCTO_PEDIDO] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC,
	[ID_presentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[telefono] [int] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[provincia] [varchar](30) NOT NULL,
	[ciudad] [varchar](30) NOT NULL,
	[calle] [varchar](25) NOT NULL,
	[numero] [int] NOT NULL,
	[cod_postal] [int] NOT NULL,
	[cuit] [bigint] NOT NULL,
	[razon_social] [varchar](30) NOT NULL,
 CONSTRAINT [PK_ID_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](25) NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_ID_ROL] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock](
	[stock_id] [int] IDENTITY(1,1) NOT NULL,
	[stock_actual] [int] NOT NULL,
	[umbral_stock] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
	[ID_presentacion] [int] NOT NULL,
 CONSTRAINT [pk_stock] PRIMARY KEY CLUSTERED 
(
	[stock_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAMAÑO_NEGOCIO]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAMAÑO_NEGOCIO](
	[id_tamano] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](30) NOT NULL,
 CONSTRAINT [PK_id_tamano] PRIMARY KEY CLUSTERED 
(
	[id_tamano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[contraseña] [varchar](400) NOT NULL,
	[estado] [bit] NOT NULL,
	[id_rol] [int] NOT NULL,
	[nombre] [varchar](20) NOT NULL,
 CONSTRAINT [PK_NOMBRE] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZONA]    Script Date: 3/10/2025 21:11:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZONA](
	[id_zona] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[preventista] [varchar](20) NOT NULL,
 CONSTRAINT [PK_ID_ZONA] PRIMARY KEY CLUSTERED 
(
	[id_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([id_rol], [descripcion], [estado]) VALUES (5, N'Preventista', 1)
INSERT [dbo].[ROL] ([id_rol], [descripcion], [estado]) VALUES (6, N'Empleado Clientes', 1)
INSERT [dbo].[ROL] ([id_rol], [descripcion], [estado]) VALUES (7, N'Empleado Productos', 1)
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[TAMAÑO_NEGOCIO] ON 

INSERT [dbo].[TAMAÑO_NEGOCIO] ([id_tamano], [descripcion]) VALUES (1, N'PEQUEÑO')
INSERT [dbo].[TAMAÑO_NEGOCIO] ([id_tamano], [descripcion]) VALUES (2, N'MEDIANO')
INSERT [dbo].[TAMAÑO_NEGOCIO] ([id_tamano], [descripcion]) VALUES (3, N'GRANDE')
SET IDENTITY_INSERT [dbo].[TAMAÑO_NEGOCIO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLIENTE__AB6E616424316102]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[CLIENTE] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__CLIENTE__B3CCB299EE6FA35F]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[CLIENTE] ADD UNIQUE NONCLUSTERED 
(
	[cuil_cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_DNI]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [UQ_DNI] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__compra__B31FA9AE987DD3C5]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[compra] ADD UNIQUE NONCLUSTERED 
(
	[nro_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_dni_empleado]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [uq_dni_empleado] UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_EMAIL_empleado]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [UQ_EMAIL_empleado] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_telefono]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [uq_telefono] UNIQUE NONCLUSTERED 
(
	[telefono] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_PEDIDO_numero_factura]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[PEDIDO] ADD  CONSTRAINT [uq_PEDIDO_numero_factura] UNIQUE NONCLUSTERED 
(
	[numero_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_producto_presentacion_codigo]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[producto_presentacion] ADD  CONSTRAINT [uq_producto_presentacion_codigo] UNIQUE NONCLUSTERED 
(
	[cod_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__PROVEEDO__2CDD9897492EF204]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[PROVEEDOR] ADD UNIQUE NONCLUSTERED 
(
	[cuit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_email]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[PROVEEDOR] ADD  CONSTRAINT [UQ_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_stock_producto_presentacion]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[stock] ADD  CONSTRAINT [uq_stock_producto_presentacion] UNIQUE NONCLUSTERED 
(
	[id_producto] ASC,
	[ID_presentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_zona_preventista]    Script Date: 3/10/2025 21:11:18 ******/
ALTER TABLE [dbo].[ZONA] ADD  CONSTRAINT [uq_zona_preventista] UNIQUE NONCLUSTERED 
(
	[preventista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (getdate()) FOR [fecha_alta]
GO
ALTER TABLE [dbo].[compra] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[pedido_pago] ADD  DEFAULT ((0)) FOR [saldo]
GO
ALTER TABLE [dbo].[stock] ADD  DEFAULT ((0)) FOR [stock_actual]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [fk_auditoria_entidad] FOREIGN KEY([entidad_id])
REFERENCES [dbo].[entidad] ([entidad_id])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [fk_auditoria_entidad]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [fk_auditoria_usuario] FOREIGN KEY([usuario])
REFERENCES [dbo].[USUARIOS] ([nombre])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [fk_auditoria_usuario]
GO
ALTER TABLE [dbo].[AUDITORIA]  WITH CHECK ADD  CONSTRAINT [FK_ID_ACCION] FOREIGN KEY([ID_accion])
REFERENCES [dbo].[ACCION] ([ID_accion])
GO
ALTER TABLE [dbo].[AUDITORIA] CHECK CONSTRAINT [FK_ID_ACCION]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [fk_cliente_zona] FOREIGN KEY([id_zona])
REFERENCES [dbo].[ZONA] ([id_zona])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [fk_cliente_zona]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ID_TAMANO] FOREIGN KEY([id_tamano])
REFERENCES [dbo].[TAMAÑO_NEGOCIO] ([id_tamano])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_ID_TAMANO]
GO
ALTER TABLE [dbo].[compra]  WITH CHECK ADD  CONSTRAINT [fk_compra_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[PROVEEDOR] ([id_proveedor])
GO
ALTER TABLE [dbo].[compra] CHECK CONSTRAINT [fk_compra_proveedor]
GO
ALTER TABLE [dbo].[CUENTA_CORRIENTE]  WITH CHECK ADD  CONSTRAINT [FK_ID_CLIENTE_cuenta] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[CUENTA_CORRIENTE] CHECK CONSTRAINT [FK_ID_CLIENTE_cuenta]
GO
ALTER TABLE [dbo].[detalle_compra]  WITH CHECK ADD  CONSTRAINT [fk_detalle_compra] FOREIGN KEY([compra_id])
REFERENCES [dbo].[compra] ([compra_id])
GO
ALTER TABLE [dbo].[detalle_compra] CHECK CONSTRAINT [fk_detalle_compra]
GO
ALTER TABLE [dbo].[detalle_compra]  WITH CHECK ADD  CONSTRAINT [fk_detalle_producto_presentacion] FOREIGN KEY([id_producto], [ID_presentacion])
REFERENCES [dbo].[producto_presentacion] ([id_producto], [ID_presentacion])
GO
ALTER TABLE [dbo].[detalle_compra] CHECK CONSTRAINT [fk_detalle_producto_presentacion]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_producto] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[PEDIDO] ([id_pedido])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_PEDIDO_producto]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_PRESENTACION] FOREIGN KEY([id_producto], [ID_presentacion])
REFERENCES [dbo].[producto_presentacion] ([id_producto], [ID_presentacion])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [FK_PRODUCTO_PRESENTACION]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [fk_nombre_usuario] FOREIGN KEY([nombre_usuario])
REFERENCES [dbo].[USUARIOS] ([nombre])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [fk_nombre_usuario]
GO
ALTER TABLE [dbo].[marca_proveedor]  WITH CHECK ADD  CONSTRAINT [FK_id_marca] FOREIGN KEY([id_marca])
REFERENCES [dbo].[MARCA] ([id_marca])
GO
ALTER TABLE [dbo].[marca_proveedor] CHECK CONSTRAINT [FK_id_marca]
GO
ALTER TABLE [dbo].[marca_proveedor]  WITH CHECK ADD  CONSTRAINT [FK_id_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[PROVEEDOR] ([id_proveedor])
GO
ALTER TABLE [dbo].[marca_proveedor] CHECK CONSTRAINT [FK_id_proveedor]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [fk_id_cliente_pago] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [fk_id_cliente_pago]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [FK_ID_METODO] FOREIGN KEY([id_metodo])
REFERENCES [dbo].[METODO_PAGO] ([id_metodo])
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [FK_ID_METODO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_ID_CLIENTE]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_ESTADO_pedido] FOREIGN KEY([id_estado])
REFERENCES [dbo].[ESTADO_PEDIDO] ([id_estado])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_ID_ESTADO_pedido]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [fk_pedido_vendedor] FOREIGN KEY([vendedor])
REFERENCES [dbo].[Empleado] ([nombre_usuario])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [fk_pedido_vendedor]
GO
ALTER TABLE [dbo].[pedido_pago]  WITH CHECK ADD  CONSTRAINT [FK_PAGO] FOREIGN KEY([id_pago])
REFERENCES [dbo].[PAGO] ([id_pago])
GO
ALTER TABLE [dbo].[pedido_pago] CHECK CONSTRAINT [FK_PAGO]
GO
ALTER TABLE [dbo].[pedido_pago]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[PEDIDO] ([id_pedido])
GO
ALTER TABLE [dbo].[pedido_pago] CHECK CONSTRAINT [FK_PEDIDO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ID_FAMILIA] FOREIGN KEY([id_familia])
REFERENCES [dbo].[FAMILIA] ([id_familia])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_ID_FAMILIA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_ID_marca_producto] FOREIGN KEY([id_marca])
REFERENCES [dbo].[MARCA] ([id_marca])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_ID_marca_producto]
GO
ALTER TABLE [dbo].[producto_presentacion]  WITH CHECK ADD  CONSTRAINT [FK_PRESENTACION] FOREIGN KEY([ID_presentacion])
REFERENCES [dbo].[PRESENTACION] ([ID_presentacion])
GO
ALTER TABLE [dbo].[producto_presentacion] CHECK CONSTRAINT [FK_PRESENTACION]
GO
ALTER TABLE [dbo].[producto_presentacion]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO] FOREIGN KEY([id_producto])
REFERENCES [dbo].[PRODUCTO] ([id_producto])
GO
ALTER TABLE [dbo].[producto_presentacion] CHECK CONSTRAINT [FK_PRODUCTO]
GO
ALTER TABLE [dbo].[stock]  WITH CHECK ADD  CONSTRAINT [fk_stock_producto_presentacion] FOREIGN KEY([id_producto], [ID_presentacion])
REFERENCES [dbo].[producto_presentacion] ([id_producto], [ID_presentacion])
GO
ALTER TABLE [dbo].[stock] CHECK CONSTRAINT [fk_stock_producto_presentacion]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_id_rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[ROL] ([id_rol])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_id_rol]
GO
ALTER TABLE [dbo].[ZONA]  WITH CHECK ADD  CONSTRAINT [fk_zona_preventista] FOREIGN KEY([preventista])
REFERENCES [dbo].[USUARIOS] ([nombre])
GO
ALTER TABLE [dbo].[ZONA] CHECK CONSTRAINT [fk_zona_preventista]
GO
ALTER TABLE [dbo].[detalle_compra]  WITH CHECK ADD CHECK  (([cantidad_bulto]>(0)))
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD CHECK  (([cantidad_bultos]>(0)))
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD CHECK  (([precio_unitario]>(0)))
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO]  WITH CHECK ADD  CONSTRAINT [ck_detalle_pedido_cantidad] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[DETALLE_PEDIDO] CHECK CONSTRAINT [ck_detalle_pedido_cantidad]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [CK_FECHA_ENTREGA] CHECK  (([fecha_entrega]>=dateadd(day,(1),CONVERT([date],getdate()))))
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [CK_FECHA_ENTREGA]
GO
ALTER TABLE [dbo].[producto_presentacion]  WITH CHECK ADD  CONSTRAINT [ck_producto_presentacion_precioLista] CHECK  (([precioLista]>(0)))
GO
ALTER TABLE [dbo].[producto_presentacion] CHECK CONSTRAINT [ck_producto_presentacion_precioLista]
GO
ALTER TABLE [dbo].[producto_presentacion]  WITH CHECK ADD  CONSTRAINT [ck_producto_presentacion_unidades_bulto] CHECK  (([unidades_bulto]>(0)))
GO
ALTER TABLE [dbo].[producto_presentacion] CHECK CONSTRAINT [ck_producto_presentacion_unidades_bulto]
GO
ALTER TABLE [dbo].[stock]  WITH CHECK ADD CHECK  (([stock_actual]>(0)))
GO
