<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ArimaERPEntities1" connectionString="metadata=res://*/Capa_Entidades.ArimaERPEntities1.csdl|res://*/Capa_Entidades.ArimaERPEntities1.ssdl|res://*/Capa_Entidades.ArimaERPEntities1.msl;                          provider=System.Data.SqlClient;                          provider connection string=&quot;Data Source=DESKTOP-3THA0FO\SQLEXPRESS;                          Initial Catalog=ArimaERP;                          Integrated Security=True;                          MultipleActiveResultSets=True;                          App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>